# Generic platform variables
aap_hostname: aap263.localhosts.it
aap_username: "{{ controller_username }}"
aap_password: "{{ controller_password }}"

# This is needed so that dispatch doesn't fail as demo AAP has self-signed certificates
aap_validate_certs: false

#ansible_python_interpreter: /usr/bin/python3

demo_organization_name: BreakGlass-Demo
demo_organization_description: Organization for BreakGlass Compliance Demo

demo_project_name: BreakGlass-Automation

demo_team_name: BreakGlass-Team
demo_team_description: Team responsible for the BreakGlass user

demo_inventory_name: Demo-BreakGlass-Inventory

demo_job_templates_tag: "BreakGlass"

demo_label_name: "BreakGlass"

#aap_configuration_async_retries: 60
#ssh_key_name: my_public_ssh_key
#email_address: example@example.com # the email address used to send emails from the demo
# redhat_subscription_username: user@example.com
# redhat_subscription_password: CHANGEME