---
- name: Get password max age
  command: "chage -l {{ breakglass_username }}"
  register: chage
  changed_when: false

- name: Check password expiration
  set_fact:
    password_ok: "{{ 'never' in chage.stdout | lower }}"

- name: Record password policy check
  set_fact:
    compliance: >-
      {{
        compliance | combine({
          'checks': compliance.checks | combine({
            'password_expiry': {
              'passed': password_ok,
              'message': password_ok
                | ternary('Password never expires', 'Password expiration configured')
            }
          }),
          'compliant': compliance.compliant and password_ok
        })
      }}
