---
- name: Get user groups
  ansible.builtin.command: "id -nG {{ breakglass_username }}"
  register: user_groups_result
  changed_when: false

- name: Evaluate group membership
  set_fact:
    missing_groups: "{{ breakglass_groups | difference(user_groups_result.stdout.split()) }}"

- name: Record group compliance
  set_fact:
    compliance: >-
      {{
        compliance | combine({
          'checks': compliance.checks | combine({
            'groups': {
              'passed': missing_groups | length == 0,
              'message': (missing_groups | length == 0)
                | ternary(
                    'All required groups present',
                    'Missing groups: ' ~ (missing_groups | join(', '))
                  )
            }
          }),
          'compliant': compliance.compliant and (missing_groups | length == 0)
        })
      }}
