---
- include_tasks: init.yml
- include_tasks: check_user.yml

- include_tasks: check_uid.yml
  when: breakglass_user_exists

- include_tasks: check_shell.yml
  when: breakglass_user_exists

- include_tasks: check_home.yml
  when: breakglass_user_exists

- include_tasks: check_groups.yml
  when: breakglass_user_exists

- include_tasks: check_password.yml
  when: breakglass_user_exists

- include_tasks: check_ssh.yml
  when:
    - breakglass_user_exists
    - breakglass_ssh_key_required

- include_tasks: finalize.yml
- include_tasks: report.yml
