---
- name: Configure AAP Demo Environment (CaC)
  hosts: all
  gather_facts: false
  vars_files:
    - ../vault.yml
  connection: local
  tasks:
    - name: Call dispatch role
      ansible.builtin.include_role:
        name: infra.aap_configuration.dispatch
...