---
- name: Break-Glass Account Remediation
  hosts: all
  gather_facts: true
  become: true
  vars_files:
    - ../vault.yml

  vars:
    breakglass_password: "{{ vault_breakglass_password }}"
    breakglass_ssh_pub_key: >-
      {{ lookup('file', 'files/breakglass_id_rsa.pub', errors='ignore') | default('') }}

  tasks:
    - name: Remediate break-glass account
      ansible.builtin.include_role:
        name: breakglass_compliance
        tasks_from: remediate.yml
